.ShowMore {
    
    font-weight: bolder;
    
}

.SSMlogo {
    background-image: url(./layout_set_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 6rem 0 0 0;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: space-around;
}


.Aca{
    background-image: url(./Screenshot_2020-11-26_160126-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 6rem 0 0 0;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: space-around;
}

.IPA {
    background-image: url(./IPA_Logo_Master_LR.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 6rem 0 0 0;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: space-around;

}

.CTIM {
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 6rem 0 0 0;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: space-around;
}

.AACC {
    background-image: url(./aacc.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 6rem 0 0 0;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: space-around;
}

.New {
    color: green;
    font-weight: bolder;
    font-size: medium;
  }

