.home-div {
    
        background-image: url(./20200401_095146-ANIMATION.gif);
        background-position: center;
        height: 500px;
        background-size: contain;
        background-repeat: no-repeat;
        justify-content: space-around;
        margin-left: 1rem;
        margin-right: 1rem;
   
}

